.main{
    background-color: rgb(209,209,214);
}
.sidebar-btn {
  text-align: left;
  padding-left: 16px;
  font-size: 1.1rem;
  border-radius: 999px;
  color: black;
}

.sidebar-btn:hover {
  background-color: #009dff;
  color: white;
}

.rightpanel{
    padding-top: 1rem;
}

.mainpanel{
    border-radius: 12px; /* rounded corners like Twitter */
    padding: 1rem;
    border:1px solid rgb(209,209,214);
}


.logo img{
    width: 40px;
    height: auto;
}

.chirp{
    border: 1px solid rgb(209,209,214);
    margin-bottom: 1rem;

}

.pfp{
    width:40px;
    height: auto;
    border-radius: 999px;
    object-fit: cover;
}
.chirpbtn{
    margin-top: 20px;
    background-color: #009dff;
    border-radius: 9999px;
    color:white;
    width: 10rem;
}
.chirpbtnmain{
    background-color: #009dff;
    border-radius: 9999px;
    width: 5rem;
}

.chirpdiv{
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration:none;
    color:black;
}





.menu {
  position: relative;
  display: inline-block;
}

.dots {
  cursor: pointer;
  font-size: 20px;
}

.menu-options {
  display: none;
  position: absolute;
  right: 0;
  background: white;
  border: 1px solid #ccc;
  min-width: 100px;
}

.menu:hover .menu-options {
  display: block;
}

.menu-options a {
  display: block;
  padding: 6px 10px;
  text-decoration: none;
  color: black;
}

.menu-options a:hover {
  background: #eee;
}
